{% extends 'base.html.twig' %}

    {% block title %}Team{% endblock %}

    {% block pageTitle %}Players{% endblock %}
    
    {% block bodyContent %}

    <container class="d-flex justify-content-around px-5 mb-3">

        <div class="row">

            {% for player in players %}

                <div class="col">

                    <div class="card" style="width: 18rem; margin: 0.9rem 0.5rem;">

                        <img src="{{player.images[0].url}}" class="card-img-top" alt="player">

                        <div class="card-body">

                            <h5 class="card-title">{{player.pseudo}}</h5>
                            <p>{{player.post}}</p>
                            <p>{{player.team.name}}</p>

                            {% for champion in player.champions %}
                                <div>
                                    <p>{{champion.name}}</p>
                                    <img src="{{champion.images[1].url}}" alt="champion">
                                </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </container>

{% endblock %}

