{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}
{% block pageTitle %}Team index{% endblock %}

{% block bodyContent %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.country }}</td>
                <td>
                    <a href="{{ path('app_admin_team_show', {'id': team.id}) }}">show</a>
                    <a href="{{ path('app_admin_team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_team_new') }}">Create new</a>
{% endblock %}
