{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block pageTitle %}Results{% endblock %}

{% block bodyContent %}
    {% if typedResults is empty %}
        <p>No results found.</p>
    {% else %}
        {% for type, results in typedResults %}
            <h2 class="mb-4 text-center">
                {% if type == 'App\\Entity\\Player' %}
                    Player(s) :
                {% elseif type == 'App\\Entity\\Tournament' %}
                    Tournament(s) :
                {% elseif type == 'App\\Entity\\League' %}
                    League(s) :
                {% elseif type == 'App\\Entity\\Team' %}
                    Team(s) :
                {% elseif type == 'App\\Entity\\Champion' %}
                    Champion(s) :
                {% endif %}
            </h2>
            <div class="row justify-content-center mb-5 ps-3 pe-3">
                {% for result in results %}
                    {% if type == 'App\\Entity\\Player' %}
                        <div class="col">
                            <div class="card" style="width: 10rem">
                                <div class="card-body">
                                    <h5 class="card-title mt-3 mb-1">{{ result.pseudo }}</h5>
                                    <p>Post: {{ result.post.value }}</p>
                                    {% for champion in result.champions %}
                                        <div>
                                            <img src="{{ champion.images[1].url }}" alt="champion" class="img-fluid mb-2">
                                            <p class="mb-0">{{ champion.name }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% elseif type == 'App\\Entity\\Tournament' %}
                        <div class="col">
                            <div class="card" style="width: 20rem; height: 12rem">
                                <div class="card-body">
                                    <h5 class="card-title mt-3 mb-1">{{ result.name }}</h5>
                                    <p>Start: {{ result.startDate|date("d/m/Y H:i") }}</p>
                                    <p>End: {{ result.endDate|date("d/m/Y H:i") }}</p>
                                </div>
                            </div>
                        </div>
                    {% elseif type == 'App\\Entity\\League' %}
                        <div class="col">
                            <a href="{{ path('app_league_show', {'id': result.id}) }}" class="card-link text-decoration-none">
                                <div class="card" style="width: 20rem; height: 5rem">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <h5 class="card-title">{{ result.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% elseif type == 'App\\Entity\\Team' %}
                        <div class="col">
                            <a href="{{ path('app_team_show', {'id': result.id}) }}" class="card-link text-decoration-none">
                                <div class="card" style="width: 20rem; height: 8rem">
                                    <div class="card-body">
                                        <h5 class="card-title mt-3 mb-1">Name: {{ result.name }}</h5>
                                        <p class="card-text">Country: {{ result.country }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% elseif type == 'App\\Entity\\Champion' %}
                        <div class="col">
                            <div class="card" style="width: 12rem;">
                                <div class="card-body">
                                    <h5 class="card-title mt-3 mb-1">Name: {{ result.name }}</h5>
                                    <img src="{{ result.images[1].url }}" alt="champion" class="card-img-top">
                                    <p class="card-text">Class: {{ result.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}