{% extends 'base.html.twig' %}

    {% block title %}League{% endblock %}

    {% block pageTitle %}{% endblock %}

    {% block pageImage %}
    
        {# <img src="{{ league.images[0].url }}" alt="cover" class="img-fluid"> #}
    
    {% endblock %}
    
    {% block bodyContent %}

    <container class="d-flex justify-content-around px-5 mb-3">
    
        <div class="row">
        
            <h1 class="text-center">Matchs</h1>
            {% for encounter in encountersArray %}
                <div class="card mb-3">
                    <div class="card-header">
                        {{ encounter.date|date('d-m-Y H:i') }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ encounter.tournament.league.name }} - {{ encounter.tournament.name }}</h5>
                        <p class="card-text">
                            {{ encounter.team1.name }} : {{ encounter.score1.value }}<br>
                            {{ encounter.team2.name }} : {{ encounter.score2.value }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        
        </div>
    
    </container>

{% endblock %}
