{% extends 'base.html.twig' %}

{% block title %}Player index{% endblock %}
{% block pageTitle %}Player index{% endblock %}

{% block bodyContent %}
    <h1>Player index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>{{ player.pseudo }}</td>
                <td>
                    <a href="{{ path('app_admin_player_show', {'id': player.id}) }}">show</a>
                    <a href="{{ path('app_admin_player_edit', {'id': player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_player_new') }}">Create new</a>
{% endblock %}
